<div>
  <!-- <app-page-header [heading]="'Unit'" [icon]="'fa-bar-chart-o'"></app-page-header> -->
  
  <div class="row">
      <div class="col col-sm-12">
          <div class="card">
              <div class="card-header">
                  <div class="row">
                    <div class="col-md-6"><b>Unit</b></div>
                    <div class="col-md-6" style="text-align: right;">
                      <img  src="assets/images/plus.png" 
                       style="width: 30px;"/>
                    </div>
                    
                  </div>
              </div>
              <div class="card-body">
                   
              </div>
          </div>
      </div>      
  </div>
   
</div>
